.date-banner {
    margin-left: 40px;
    font-size: 20px;
    color: rgb(124, 124, 128);
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}

.date-banner p{
    margin: 0px;
}

.dashboard-grid-container {
    display: grid;
    grid-template-columns: 3.5fr 1fr;
    padding: 0;
    margin: 20px 40px;
    margin-bottom: 80px;
    gap: 30px;
}

.dashboard-left-column {
    padding: 0px;
    margin: 0px;
    width: 100%;
}

.left-column-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
    gap: 40px;
    align-items: flex-start;
}

.dashboard-block-container {
    width: 100%;
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.total-user-block {
    padding: 20px;
    margin: 0px;
    background: linear-gradient(to bottom right, rgb(58, 123, 213), rgb(136, 58, 213));
    border-radius: 16px;
    flex: 1;
    min-width: 0;
    cursor: pointer;
}

.people-icon {
    height: 60px;
}

.people-icon-container {
    display: inline-block;
    padding: 10px;
    background-color: rgb(138, 180, 255);
    border-radius: 16px;
}

.total-user-title {
    margin-top: 20px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 0px;
}

.user-count {
    color: white;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 20px;
}

.dashboard-right-column {
    margin: 0px;
    padding: 0px;
    height: auto;
    width: 100%;
}

.recent-interaction-block {
    padding: 20px;
    margin: 0px;
    background-color: rgb(242, 242, 247);
    border-radius: 16px;
    width: 100%;
    box-sizing: border-box;
    height: auto;
    border: solid 1px rgb(242, 242, 247);
}

.recent-interaction-header {
    color: rgb(28, 28, 30);
    font-weight: bold;
    font-size: 20px;
    margin: 0px 0px 15px 0px;
}

/* New styles for scrollable interactions */
.recent-interactions-container {
    max-height: 60vh;
    overflow-y: auto;
    padding-right: 5px;
}

/* Styling the scrollbar */
.recent-interactions-container::-webkit-scrollbar {
    width: 6px;
}

.recent-interactions-container::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.recent-interactions-container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

.recent-interactions-container::-webkit-scrollbar-thumb:hover {
    background: #555;
}


.sign-in-info-block {
    text-align: center;
    color: rgb(142, 142, 147);
}

.interaction-entry {
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
}

.interaction-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.interaction-type {
    color: rgb(0, 122, 255);
    font-weight: bold;
    margin-bottom: 5px;
}

.interaction-desc {
    color: rgb(108, 108, 112);
    font-size: 0.9em;
}

.date {
    color: rgb(108, 108, 112);
    font-size: 0.9em;
}

