.header {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #000000;
    padding: 0;
    margin: 0;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
    align-items: center;
    transition: all ease 1s;
    z-index: 1000;
    height: auto;
    justify-content: space-between;
}

.header-content {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 10px 20px;
    margin: 0;
    position: relative;
}

.header-left {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    align-items: center;
    flex: 1;
}

.header-mid {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-right {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    flex: 1;
}


.bell-container {
    outline: none;
}

.bell-icon{
    position: relative;
    color: white;
    cursor: pointer;
    display: inline-block;
}

.logout-container {
    outline: none;
}

.logout-icon {
    height: 30px;
    cursor: pointer;
}

.crm-icon {
    color: white;
    font-size: 20px;
    transition: all ease 0.3s;
    height: 40px; 
    width: auto; 
    max-width: 150px; 
}

.notifications-count {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 18px;
    width: 18px;
    background-color: red;
    color: white;
    border-radius: 9px;
    top: 0;
    right: 0;
    transform: translate(15%, -20%); /* Move half right and half up */
    font-size: 10px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
}

.bell-img {
    height: 30px;
    width: 30px;
}

.home-icon {
    height: 30px;
    width: 30px;
}

.menu-label {
    color: white;
    font-weight: bold;
    font-size: 15px;
}

.header-button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    gap: 5px;
}

/* Media queries for responsiveness */
@media screen and (max-width: 1200px) {
    .header-mid {
        position: static;
        transform: none;
        order: 0;
        flex: 0 0 auto;
        margin-right: 20px;
    }
    
    .header-content {
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    
    .header-left {
        order: 1;
        flex: 1 1 auto;
    }
    
    .header-right {
        order: 2;
        flex: 0 0 auto;
    }
}

@media screen and (max-width: 750px) {
    .header-left {
        flex-wrap: wrap;
    }
    
    .menu-label {
        font-size: 14px;
    }
    
    .header-button {
        gap: 3px;
    }
}

@media screen and (max-width: 650px) {
    /* For very small screens, hide labels and use icons only */
    .menu-label {
        display: none;
    }
}

