html, body{
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    font-family: Roboto, Arial;
    background-color: rgb(235, 235, 240);
    min-height: 100vh;
}

.welcome {
    text-align: center;  
    font-size: 30px;    
    margin-top: 120px;   
    font-weight: bold;   
    color: rgb(28, 28, 30);        
}

.welcome-user-animation {
    text-align: center; 
    font-size: 30px;     
    margin-top: 105px;    
    font-weight: bold;   
    color: rgb(28, 28, 30);        
    opacity: 0; 
    transform: translateY(20px); 
    transition: opacity 2.5s ease-out, transform 2.5s ease-out;
}

.welcome-user-animation p {
    margin-bottom: 0;
}

.welcome-user-animation.show {
    opacity: 1;
    transform: translateY(0); 
}